<!DOCTYPE html>
<html lang="en">
<title>Create-user</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body class="background-color">
<div class="page-container">
    <header>
        <br>
        <a href="login.html" th:href="@{/login}">
            <img class="logo" src="/public/images/fog_logo_small.png"
                 th:src="@{/images/fog_logo_small.png}" alt="fog-logo">
        </a>
        <br>
        <br>
    </header>

    <form class="generic-form" method="post">
        <input type="email" name="email" placeholder="Indtast email" required/>
        <input type="password" name="password1" placeholder="Indtast kodeord" required/>
        <input type="password" name="password2" placeholder="Gentag kodeord" required/>
        <button type="submit" formaction="/createuser">Opret bruger</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>

    <a href="/" th:href="@{/}">
        <button class="rounded-btn">Tilbage til forsiden</button>
    </a>

</div>
</body>
</html>